.menu-items {
  position: relative;
}

.menu-items:hover {
  background-color: #337ab7;
}

.menu-items p {
  display: block;
  text-decoration: none;
  padding: 0.7rem 1rem;
}

.menu-items button {
  display: flex;
  justify-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.ul-menu-items > li > button {
  font-weight: bold;
  color: #333;
}

.ul-menu-items > li > ul > div > li:hover button {
  color: white;
}

.dropdown {
  position: absolute;
  left: 100%;
  left: auto;
  z-index: 20;
  box-shadow: 6px 0 rgba(211, 211, 211, 0.5);
  padding: 0rem 0rem;
  list-style: none;
  background-color: #ffffff;
  display: none;
}
.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0px;
}
