VITE_HOST=https://api.example.com/api/v01
VITE_REALTIME=wss://api.example.com/cineman-ws
VITE_STORAGES=https://api.example.com/api/v01/storages/photo
VITE_CONVERSION_FACTOR_REDEEM_POINT=1
VITE_DOMAIN=https://app.example.com
