@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Condensed Variable', sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
  /* overflow-y: hidden !important; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

@layer components {
  .container {
    @apply mx-auto my-auto w-full px-3 md:w-[1150px] md:px-4;
  }

  .custom-border {
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1;
    border-bottom: 4px solid transparent;
    border-image-slice: 1;
  }

  .link {
    @apply flex cursor-default items-center gap-6 rounded-md p-2.5 font-medium text-white duration-300 md:cursor-pointer;
  }
  .active {
    @apply bg-blue-100/80 !text-black;
  }
}