@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Public Sans Variable', sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .container {
    @apply mx-auto my-auto w-[1150px] px-4;
  }
}
